<div class="container">

    <h2>Salvar contato</h2>

    <form (ngSubmit)="onSubmit()" #contatoForm="ngForm" novalidate>

        <div [ngClass]="getFormGroupClass(nome.valid, nome.pristine)">
            <label for="nome" class="form-control-label">Nome</label>
            <input type="text" [ngClass]="getFormControlClass(nome.valid, nome.pristine)" placeholder="Digite seu nome" 
                name="nome"
                #nome="ngModel"
                [(ngModel)]="contato.nome" required>
            <div class="form-control-feedback" [hidden]="nome.valid || nome.pristine">Campo Obrigatório</div>    
        </div>

        <div [ngClass]="getFormGroupClass(email.valid, email.pristine)">
            <label for="email">Email</label>
            <input type="email" [ngClass]="getFormControlClass(email.valid, email.pristine)" placeholder="Digite seu email" 
            name="email"
            #email = "ngModel"
            [(ngModel)]="contato.email" required>
            <div class="form-control-feedback" [hidden]="email.valid || email.pristine">Campo Obrigatório</div>
        </div>

        <div [ngClass]="getFormGroupClass(telefone.valid, telefone.pristine)">
            <label for="telefone">Telefone</label>
            <input type="text" [ngClass]="getFormControlClass(telefone.valid, telefone.pristine)" placeholder="Digite seu telefone"
            name="telefone"
            #telefone = "ngModel"
            [(ngModel)]="contato.telefone" required>
            <div class="form-control-feedback" [hidden]="telefone.valid || telefone.pristine">Campo Obrigatório</div>            
        </div>

        <button type="submit" class="btn btn-success" [disabled]="!contatoForm.form.valid">Salvar</button>
        <a class="btn btn-secondary" (click)="goBack()">Voltar</a>
    </form>

</div>